<?xml version="1.0"?>
<config>
    <modules>
        <Webcreta_GalleryImport>
            <version>0.1.0</version>
			</Webcreta_GalleryImport>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_adapter_product>Webcreta_GalleryImport_Model_Convert_Adapter_Product</convert_adapter_product>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>